<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Archaeological News scrape</title>
<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Revalia' rel='stylesheet' type='text/css'>
  <!-- CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<!-- jQuery Library (skip this step if already called on page ) -->
<!-- <script type="text/javascript" src="http://cdn.dcodes.net/2/jquery.min.js"></script>  --><!-- (do not call twice) -->

</head>
<body>
  <!--   -->
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
     <h1 class="header center orange-text">Archaeology Today</h1> 

    <!-- insert header materialize -->
    <div class="slider">
    <ul class="slides">
      <li>
        <img src="../images/finds.jpg"></script>"> <!-- random image -->
        <div class="caption center-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3">Todays News</h5>
        </div>
      </li>
      <li>
        <img src="../images/Mex_archeology.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3">Yah Dig!</h5>
        </div>
      </li>
      <li>
        <img src="../images/finds.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3">Todays News</h5>
        </div>
      </li>
      <li>
        <img src="../images/finds.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3">Yah Dig</h5>
        </div>
      </li>
    </ul>
  </div>
      <!-- end of header materialize -->
      <!-- <br><br> -->
      <div class="row center">

        <h5 class="header col s12 light">The latest News in archaeology around the world!</h5>
        
<!-- <div class="dc_clear"></div> line break/clear line -->
      <!-- </div> -->
      <!-- <div class="row center"> -->
      
 
      <!-- </div> -->
      <br><br>
    </div>
  </div>


  <div class="container">
    <div class="section">


<!-- Materialize card one -->
    <div class="col s12 m7">
    <h3 class="header"></h3>
    <div class="card horizontal">
      <div class="card-image">
        <img src="../images/finds.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content" id="one">
          <h3>I am a very simple card. I am good at containing small bits of information.</h3>
        </div>
        <div class="card-action">
          <a href="#">View Comments</a>
        </div>
      </div>
    </div>
  </div>
<!-- End Materialize card  -->
<!-- Materialize card  two-->
    <div class="col s12 m7">
    <h3 class="header"></h3>
    <div class="card horizontal">
      <div class="card-image">
        <img src="../images/finds.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content" id="Two">
          <h3>I am a very simple card. I am good at containing small bits of information.</h3>
        </div>
        <div class="card-action">
          <a href="#">View Comments</a>
        </div>
      </div>
    </div>
  </div>
<!-- End Materialize card  -->
<!-- Materialize card three -->
    <div class="col s12 m7">
    <h3 class="header"></h3>
    <div class="card horizontal">
      <div class="card-image">
        <img src="../images/finds.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content" id="Three">
          <h3>I am a very simple card. I am good at containing small bits of information.</h3>
        </div>
        <div class="card-action">
          <a href="#">View Comments</a>
        </div>
      </div>
    </div>
  </div>
<!-- End Materialize card  -->

      <!--   Icon Section   -->
     
      <div class="row">

     <!--  <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a> -->
        <div class="col s12 m4">
          <div class="icon-block">
          <!-- <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2> -->
            <h5 class="center">Comments</h5>
<!-- Comments section 1 -->
<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>

            <!-- <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p> -->
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <!-- <h2 class="center light-blue-text"><i class="material-icons">group</i></h2> -->
            <h5 class="center">Comment</h5>

            <!-- Comments section 1 -->
<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <!-- <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2> -->
            <h5 class="center">Comment</h5>

            <!-- Comments section 1 -->
<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>
          </div>
        </div>
      </div>

    </div>
    <br><br>
    <div class="section">

    </div>
  </div>


<!-- Footer -->
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/index.js"></script>


</script>

  </body>
</html>
