<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Archaeology Today</title>
	
	<!-- Jquery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<!-- bootstrap -->
	  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- Materialize -->
	 <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<!-- icons/ fonts  -->
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Stylesheet -->
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="css/index.css">
	<!-- DC Social Icons CSS -->
	<link rel="stylesheet" type="text/css" href="http://cdn.dcodes.net/2/social_icons/dc_social_icons.css" />
	</head>
	<body>
  
<!-- handlebars -->
		{{{ body }}}
	
<!-- main footer on each page -->
  


        
        <!-- Social Media Links -->
        <!-- <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li id="social">
            <a class="facebook_dgloss32 dc_dgloss_32" title="facebook" href="#">facebook</a>
            <a class="twitter_dgloss32 dc_dgloss_32" title="twitter" href="#">twitter</a>
            <a class="linkedin_dgloss32 dc_dgloss_32" title="linkedin" href="#">linkedin</a>
         -->
	</body>
</HTML>
<!-- scripts for templates -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>
  <script src="../js/main.js"></script>
  <!-- <script type="text/javascript">
      $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
      });  
  </script> --> -->